.sousButton {
	background-color: inherit;
	color: black;
    border: solid;
    width: 50%;
	border-radius: 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.sousMenu{
  text-align: center;
}

.left{
	text-align: left;
}