
.timer{
	text-align: center;
	vertical-align: middle;
	background-color:#3633ee;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 5px;
	width: 300px;
	height: 50px;
}

.timer_p{
	margin-top: 10px;
}

.mainCombatContainer div {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

