hr{
    border-color: white;
}

.linkFoot{
    display: inline;
    font-size: 1.2em;
    padding-right: 2%;
    text-decoration: none;
    color: green;
}


.linkFoot:hover{
    text-decoration: none;
    color: white;
}