header{
    border: solid 1px white;
    margin-bottom: 2%;
}

h1{
    font-family: 'Saira Stencil One', cursive;
    text-align: center;
    padding: 20px;
}

header p{
    font-family: 'Saira Stencil One', cursive;
    font-size: 2em;
}